body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto';
}

main {
    flex: 1 0 auto;
}
header{
    margin-bottom: 2%;
}

.roboto{
    font-family: 'Roboto';
}
.roboto-black{
    font-weight: 900;
}

.it-logo{
    font-size: 5.5em!important;
    margin-top: 10px;
}

.menu-item{
    transition: .5s;
    font-size: 1.3em;
}

.menu-item:hover{
    background-color: #ffffff;
    color: #000000;
}

.p-side-20{
    padding: 0 20%;
}

.p-10{
    padding: 10%;
}


.justify-center{
    display: flex;
    justify-content: center;
}

.flex-column{
    flex-direction: column!important;
}

.fit{
    object-fit: cover;
    object-position: 100% 0;
}

.image-top-admin{
    height: 54px;
    width: 54px;
}

.pr-2{
    padding-right: 2%;
}

.color-black{
    color:black;
}

.pb-2{
    padding-bottom: 2%;
}

.mt-5{
    margin-top: 5%;
}



/* ----------------------------------------------------------------------------------- */

/* label color */
.input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=email]:focus + label {
    color: #545445;
  }
  /* label underline focus color */
  .input-field input[type=email]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=email].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=email].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

/* label color */
.input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=password]:focus + label {
    color: #545445;
  }
  /* label underline focus color */
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=password].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=password].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

  [type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    background-color: #000;
    z-index: 0;
}
.sidenav-overlay{
    width: 0;
}







/* Team Thumbs */
.text-overlay{
    z-index: 99;
    position: absolute;
    margin-top: 10%;
    margin-left: 1%;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
}

.imgTeamIntegrant{
    opacity: 1;
}
/* ************************************* */










/* ---------------------------------------------------------------------------- */

.jsutify-between{
    display: flex;
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.hedaer-page{
    margin: 0;
}

.pt-1{
    padding-top: 1%!important;
}


/* .main-admin-container{
    background-color: blue;
} */
